{% extends 'layouts/main.html' %}
{% block title %}Actor Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ actor.name }}
		</h1>

		<p class="subtitle">
			ID: {{ actor.id }}
		</p>

		<p class="subtitle">
			Age: {{ actor.age }}
		</p>

		<p class="subtitle">
			Gender: {{ actor.gender }}
		</p>

	</div>
	<div class="col-sm-6">
		<img src="{{ actor.image_link }}" alt="Actor Image" />
	</div>
</div>

<section>
	<button type="submit" onclick="editClickHandler(this)" data-id="{{ actor.id }}" class="btn btn-primary btn-lg"
		style="width: 200px;">Edit Actor</button>
	<button type="submit" onclick="deleteClickHandler(this)" data-id="{{ actor.id }}" class="btn btn-primary btn-lg"
		style="width: 200px;">Delete Actor</button>
</section>
<script>
	function editClickHandler(e) {
		console.log('clicked')
		const actorId = e.dataset.id;
		fetch(`/actors/${actorId}/edit`, {
			method: 'GET'
		})
			.then(function () {
				window.location.href = `/actors/${actorId}/edit`;
			})
			.catch(function (e) {
				console.log('error', e)
			})
	}

	function deleteClickHandler(e) {
		console.log('clicked')
		const actorId = e.dataset.id;
		fetch('/actors/' + actorId, {
			method: 'DELETE'
		})
			.then(function () {
				window.location.href = `/actors`;
			})
			.catch(function (e) {
				console.log('error', e)
			})
	}
</script>
{% endblock %}