{% extends 'layouts/main.html' %}
{% block title %}{{ movie.name }} | Movie{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ movie.title }}
		</h1>

		<p class="subtitle">
			ID: {{ movie.id }}
		</p>

		<p class="subtitle">
			Release Date: {{ movie.release_date }}
		</p>

	</div>

	<div class="col-sm-6">
		<img src="{{ movie.image_link }}" alt="Movie Image" />
	</div>
</div>

<section>
	<button type="submit" onclick="editClickHandler(this)" data-id="{{ movie.id }}" class="btn btn-primary btn-lg"
			style="width: 200px;">Edit Movie</button>
	<button type="submit" onclick="deleteClickHandler(this)" data-id="{{ movie.id }}" class="btn btn-primary btn-lg"
			style="width: 200px;">Delete Movie</button>
</section>
<script>
	function editClickHandler(e) {
			console.log('clicked')
			const movieId = e.dataset.id;
			fetch(`/movies/${movieId}/edit`, {
					method: 'GET'
			})
					.then(function () {
							window.location.href = `/movies/${movieId}/edit`;
					})
					.catch(function (e) {
							console.log('error', e)
					})
	}

	function deleteClickHandler(e) {
			console.log('clicked')
			const movieId = e.dataset.id;
			fetch('/movies/' + movieId, {
					method: 'DELETE'
			})
					.then(function () {
							window.location.href = `/movies`;
					})
					.catch(function (e) {
							console.log('error', e)
					})
	}
</script>
{% endblock %}

